@import "./function.scss";
@import "./reset";

.xeno-content {
  padding-block-end: clamp(3rem, 5rem, 4vw);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;

  @include media("<=1200px") {
    grid-template-columns: repeat(1, 1fr);
  }

  .main-heading {
    font-size: clamp(1.8rem, 2.5rem, 1.5vw);
    padding-block: 0.5rem;
  }

  p {
    font-size: clamp(1.2rem, 1.6rem, 3vw);
  }

  .xeno-image {
    & > img {
      width: 100%;

      @include media("<=1200px") {
        width: 15rem;
      }
    }
  }
}

.xeno-content-item {
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  padding: clamp(1rem, 2rem, 2vw);
}

.enery-card-heading {
  text-align: center;
  padding-block: 2rem;
  font-size: clamp(2rem, 3rem, 3vw);
}

.nav-item {
  .nav-link {
    color: black !important;
    &.active {
      background-color: $primary-color !important;
      color: white !important;
    }
  }
}
