@import "./function.scss";
@import "./reset";

.contact-form {
  border: 0.1rem solid rgb(162, 162, 162);

  .form-group {
    & > input,
    textarea,
    select {
      font-size: clamp(1.2rem, 1.6rem, 2vw);
      padding-block: 1rem;
    }

    & > textarea {
      resize: none;
    }

    & > select {
      & > option {
        padding-block: 2rem !important;
      }
    }
  }
}
